*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    margin: 0 auto;
    height: 772px; 
    max-width: 700px;
    background-repeat: no-repeat;
    background-position:top center;
}   

p{
    text-align: center;
    color:pink;
    font-size: 30px;
}

@media(max-width:998px){
   
}